<div class="site-banner-img">
    <div class="default-width">
        <!-- Nav start -->
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
            <!-- <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5> -->
            <div class="my-0 mr-md-auto">
                <i class="fa fa-home home-icon" aria-hidden="true"></i>
                <a class="navbar-brand" href="#">
                    <span style="color: blue;">Apps</span> <span style="color: black;">Market</span>
                </a>
            </div>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-light" href="#">Home</a>
                <a class="p-2 text-light" href="#">Service Us</a>
                <a class="p-2 text-light" href="#">Why Us</a>
                <a class="p-2 text-light" href="#">Our Goals</a>
                <a class="p-2 text-light" href="#">Our Portfolio</a>
                <a class="p-2 text-light" href="#">Our client</a>
            </nav>
            <a class="btn btn-outline-primary btn-contactUs" href="#">Contact Us</a>
        </div>
        <!-- Nav End -->
        
        <!-- Content Left -->
        <div class="col-sm-4 left-content">
            <div class="left-content-text">
                <h3>We Create Applications With Excellent Technology.</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout.</p>
            </div>
            <div class="button-set">
                <button type="button" class="btn btn-default btn-textbox">Download Now <i
                        class="fa fa-download"></i></button>
                <button type="button" class="btn  btn-default btn-explore">Explore <i class='fa fa-arrow-right'></i>
                </button>
            </div>
        </div>
        <div class="col-sm-8 right-content">

        </div>
    </div>
</div>

<!-- We provide various kind of services for you -->

<div class="default-width">
    <div class="text-set">
        <div class="text-center">
            <h3>We provide various kind of services for you</h3><br>
            <p class="paragraph-text">
                It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content Of A Page When
                Looking At Its Layout.The Point Of Using Lorem
            </p>
        </div>
    </div>
    <div class="services-box">
        <div class="col-sm-3 inlineblock shadow">
            <h4>Unique App Ui</h4>
            <p>It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content Of A Page When
                Looking
                At Its Layout.The Point Of Using Lorem</p>
        </div>
        <div class="col-sm-3 inlineblock shadow">
            <h4>Excellent Dashboard</h4>
            <p>
                It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content Of A Page When
                Looking At Its Layout.The Point Of Using Lorem
            </p>
        </div>
        <div class="col-sm-3 inlineblock shadow">
            <h4>By Construction</h4>
            <p>
                It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content Of A Page When
                Looking At Its Layout.The Point Of Using Lorem
            </p>
        </div>
    </div>

</div>

<!-- Why Us -->
<div class="Welcome">
    <div class="welcome-US default-width">
        <h2>Why Us</h2>
        <p>It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content Of A Page When
            Looking At Its Layout.The Point Of Using Lorem</p>
    </div>

</div>

<!-- Built The App That Everyone Love -->
<div class="style-app">
    <div class="col-sm-6 welcome-kit inlineblock">
    </div>
    <div class="col-sm-6 inlineblock welcome-text-kit">
        <h2>Built The App That Everyone Love</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
            at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
            as opposed to using 'Content here, content here', making it look like readable English</p>
        <button type="button" class="btn btn-default btn-welcome">Get More <i class='fa fa-arrow-right'></i></button>
    </div>

</div>

<!-- footer -->
<div class="contactUs">
    <div class="footer-text col-sm-6 inlineblock">
        <h2>contact Us!</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
    </div>
    <div class="col-sm-6 inlineblock">
        <input type="text" class="emailInput" placeholder="Email here"><button class="email-btn"
            type="submit">Send</button>
    </div>
</div>
<div class="footer">
   
    <div class="col-sm-12">
        <div class="col-sm-3 inlineblock pixbey">
            <h4>Pixbey</h4>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
        <div class="col-sm-3 inlineblock">
            <ul><strong>Links</strong>
                <li>Home</li>
                <li>Pricing</li>
                <li>Download</li>
                <li>About</li>
                <li>Service</li>
            </ul>
        </div>
        <div class="col-sm-3 inlineblock">
            <ul>
                <strong>Support</strong>
                <li>FAQ</li>
                <li>How it</li>
                <li>Features</li>
                <li>Contact</li>
                <li>Reporting</li>
            </ul>
        </div>
        <div class="col-sm-3 inlineblock contactUs-footer">
            <ul>
                <strong>Contact Us</strong>
                <li>+89012345</li>
                <li>youremail@gmail.com</li>
                <li>BangaloreCity</li>
            </ul>
        </div>
    </div>

</div>